@using Microsoft.AspNetCore.Components.Web
@namespace NginxPanel.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="content/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="NginxPanel.styles.css" />

    <!-- custom Radzen styling -->
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/dark-base.css" />    
    <style>
        :root {
            font-size: var(--rz-root-font-size);
        }

        body {
            font-family: var(--rz-text-font-family);
            color: var(--rz-text-color);
            font-size: var(--rz-body-font-size);
            line-height: var(--rz-body-line-height);
            background-color: var(--rz-body-background-color);
        }

        a {
            color: var(--rz-link-color);
        }

            a:hover,
            a:focus {
                color: var(--rz-link-hover-color);
            }
    </style>

    <!-- other custom styling -->
    <link rel="stylesheet" href="content/css/butterup.min.css" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <script src="content/scripts/clipboard.min.js"></script>
    <script src="content/scripts/butterup.min.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script>
        new ClipboardJS('.clip');
    </script>
    <!-- Butterup -->
    <!-- https://github.com/dgtlss/butterup -->
    <script>
        function toast(type, message, title, dismissable) {
            butterup.toast({
                location: 'top-right',
                type: type,
                icon: (type != ""),
                message: message,
                title: title,
                dismissable: dismissable,
            });
        }
    </script>
</body>
</html>
