@page "/"
@using System.Diagnostics;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app!
<br />
<br />
<pre style="font-style: italic;">@outputTest</pre>

@code {
    private Process? _cli = null;
    private string outputTest = string.Empty;

    protected override void OnInitialized()
    {
        _cli = new Process()
        {
            StartInfo = new ProcessStartInfo()
            {
                FileName = "bash",
                RedirectStandardInput = true,
                RedirectStandardOutput = true,
                RedirectStandardError = true,
                UseShellExecute = false
            }
        };

        _cli.OutputDataReceived += new DataReceivedEventHandler(CLI_OutputDataReceived);
        _cli.ErrorDataReceived += new DataReceivedEventHandler(CLI_OutputDataReceived);

        _cli.Start();
        _cli.BeginOutputReadLine();
        _cli.BeginErrorReadLine();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !(_cli is null))
        {
            await _cli.StandardInput.WriteLineAsync("apt update");
            await _cli.StandardInput.WriteLineAsync("nginx -v");
        }
    }

    private void CLI_OutputDataReceived(object sender, DataReceivedEventArgs e)
    {
        outputTest += "\r\n" + e.Data;
        InvokeAsync(() => StateHasChanged());
    }
}