@page "/"

@inject Services.ACME acme;
@inject Services.Nginx nginx;

<PageTitle>Index</PageTitle>
<br />
<br />
<h3>Nginx Version: @nginx.Version</h3>
<h4>Last config test results:</h4>
@((MarkupString)nginx.LastTestResults)
<br />
<br />
<br />
<h3>ACME Version: @acme.Version</h3>

@code {
}