@page "/"
@using System.Diagnostics;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app!
<br />
<br />
<pre>@outputTest</pre>

@code {
    private string outputTest = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        // Placeholder
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Process process = new Process()
            {
                StartInfo = new ProcessStartInfo()
                {
                    FileName = "bash",
                    RedirectStandardInput = true,
                    RedirectStandardOutput = true,
                    RedirectStandardError = true,
                    UseShellExecute = false
                }
            };

            process.OutputDataReceived += new DataReceivedEventHandler(Process_OutputDataReceived);
            process.ErrorDataReceived += new DataReceivedEventHandler(Process_OutputDataReceived);

            process.Start();
            process.BeginOutputReadLine();
            process.BeginErrorReadLine();

            await process.StandardInput.WriteLineAsync("apt update");
            await process.StandardInput.WriteLineAsync("nginx -v");
        }
    }

    private void Process_OutputDataReceived(object sender, DataReceivedEventArgs e)
    {
        outputTest += "\r\n" + e.Data;
        InvokeAsync(() => StateHasChanged());
    }
}