@page "/"
@using System.Diagnostics;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app!
<br />
<br />
<pre>@outputTest</pre>

@code {
    private string outputTest = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        // Placeholder
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            Process process = new Process
                {
                    StartInfo = new ProcessStartInfo
                    {
                        FileName = "bash",
                        RedirectStandardInput = true,
                        RedirectStandardOutput = true,
                        RedirectStandardError = true,
                        UseShellExecute = false
                    }
                };

            process.Start();
            await process.StandardInput.WriteLineAsync("apt update & nginx -v & exit");

            outputTest = "Standard Output:\r\n" + process.StandardOutput.ReadToEnd();
            outputTest += "\r\n\r\nStandard Error:\r\n" + process.StandardError.ReadToEnd();

            StateHasChanged();
        }
    }
}