@page "/"

@inject Services.Nginx nginx;
@inject Services.ACME acme;

<PageTitle>Index</PageTitle>
<br />
<br />
<h3>Nginx Version: @nginx.Version</h3>
<h3>ACME Version: @acme.Version</h3>

<br />
<br />
<span>
	@((MarkupString)@serviceDetails)
</span>

@code {
	private string serviceDetails = "";

	protected override void OnInitialized()
	{
		if (nginx.ServiceStatus == Services.Nginx.enuServiceStatus.Failed)
		{
			serviceDetails = nginx.ServiceDetails;
		}
	}
}