@page "/"

<PageTitle>Index</PageTitle>

<h2>@nginxFound</h2>

@code {
    private bool nginxInstalled = false;
    private string nginxFound = string.Empty;

    protected override void OnInitialized()
    {
        string output;
        string error;

        CLI.RunCommand("nginx", "-v", out output, out error);

        if (error.Contains("nginx version:"))
        {
            nginxInstalled = true;
            nginxFound = "Nginx was found: " + error.Substring(error.IndexOf("/") + 1);
        }
        else
        {
            nginxFound = "Nginx is not currently installed, install now?";
        }
    }
}