@page "/sites"

@inject Services.Nginx Nginx;

<PageTitle>Sites</PageTitle>

<h3>Sites</h3>

<ul>
    @foreach (Services.Nginx.ConfigFile conf in Nginx.SiteConfigs)
    {
        <li>
            @conf.Name&nbsp;(@(conf.Enabled ? "Enabled" : "Disabled"))
        </li>
    }
</ul>

@code {

    protected override void OnInitialized()
    {
        Nginx.RefreshFiles();
    }

}