@page "/sites"

@inject Services.Nginx Nginx;

<PageTitle>Sites</PageTitle>

<h3>Sites</h3>

<RadzenButton Click=@(() => RefreshSites(true)) Disabled="busyRefreshing" Text="Refresh" Icon="cached" BusyText="Refreshing..." IsBusy="busyRefreshing" ButtonStyle="ButtonStyle.Info" />
<br />
<br />

<RadzenAccordion Multiple="true">
    <Items>
        @foreach (Services.Nginx.ConfigFile conf in Nginx.SiteConfigs)
        {
            <RadzenAccordionItem Text="@conf.Name" Icon="description" class="p-1 rz-background-color-light rz-color-on-light rz-text-align-left rz-shadow-10">
                <RadzenCard>
                    <RadzenCheckBox TValue="bool" Value=conf.Enabled Name="@conf.Name" Change="() => ToggleSite(conf)" />
                    <RadzenLabel Text="Enabled" Component="@conf.Name"/>

                    <RadzenText TextStyle="TextStyle.Subtitle2" class="rz-mt-5" TagName="TagName.H3">Configuration:</RadzenText>
                    <RadzenTextArea Value=@conf.FileContents Cols="125" Rows="20" />
                </RadzenCard>
            </RadzenAccordionItem>
        }
    </Items>
</RadzenAccordion>

@code {
    [CascadingParameter]
    private MainLayout? layout { get; set; }

    private bool busyRefreshing = false;

    protected override void OnInitialized()
    {
        RefreshSites(false);
    }

    private async void RefreshSites(bool notifyUser)
    {
        try
        {
            busyRefreshing = true;

            await Task.Run(() => Nginx.RefreshFiles());

            if (notifyUser)
            {
                layout?.ShowNotification(NotificationSeverity.Info, "Info", "Sites refreshed successfully!");
            }
        }
        finally
        {
            busyRefreshing = false;
            StateHasChanged();
        }
    }

    private void ToggleSite(Services.Nginx.ConfigFile conf)
    {
        try
        {
            Nginx.ToggleEnabled(conf);

            if (conf.Enabled)
            {
                layout?.ShowNotification(NotificationSeverity.Success, "Success", $"Site <span style='color: blue; font-style: italic;'>{conf.Name}</span> enabled successfully!");
            }
            else
            {
                layout?.ShowNotification(NotificationSeverity.Success, "Success", $"Site <span style='color: red; font-style: italic;'>{conf.Name}</span> disabled successfully!");
            }
        }
        catch
        {
            layout?.ShowNotification(NotificationSeverity.Error, "Error", $"Error occurred while updating site '{conf.Name}'!");
        }
    }
}