@inherits LayoutComponentBase

<PageTitle>NginxPanel</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>
                Service: @status
            </span>

            <a href="">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string status = "<Unknown>";

    protected override void OnInitialized()
    {
        status = "Checking...";
    }
}