@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span style="padding-right: 10px;">
                Running As: @whoami
            </span>

            <span style="padding-right: 10px;">
                Service: @status
            </span>

            <span>
                <button @onclick=PerformServiceAction title="Start">@serviceAction</button>
            </span>

            <a href="">Logout</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string whoami = "";

    private string status = "Checking...";

    private string serviceAction = "N/A";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && !CLI.Initialized)
        {
            CLI.RunCommand("whoami", "", out whoami, out _);

            CLI.Initialized = true;

            RefreshServiceStatus();
        }
    }

    private void PerformServiceAction()
    {
        string output;
        string error;

        if (serviceAction == "Start")
        {
            CLI.RunCommand("sudo", "systemctl start nginx", out output, out error);
        }
        else if (serviceAction == "Stop")
        {
            CLI.RunCommand("sudo", "systemctl stop nginx", out output, out error);
        }

        RefreshServiceStatus();
    }

    private void RefreshServiceStatus()
    {
        string output;
        string error;

        CLI.RunCommand("systemctl", "status nginx", out output, out error);

        if (!string.IsNullOrWhiteSpace(error))
        {
            if (error == "Unit nginxd.service could not be found.")
            {
                status = "<Unknown>";
                serviceAction = "N/A";
            }
        }
        else if (!string.IsNullOrWhiteSpace(output))
        {
            if (output.Contains("inactive"))
            {
                status = "Not Running";
                serviceAction = "Start";
            }
            else if (output.Contains("active"))
            {
                status = "Running";
                serviceAction = "Stop";
            }
        }

        StateHasChanged();
    }
}