@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span style="padding-right: 10px;">
                Running As: @whoami
            </span>

            <span style="padding-right: 10px;">
                Service: @status
            </span>

            <span>
                <button @onclick=PerformServiceAction title="Start">@serviceAction</button>
            </span>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string whoami = "";

    private string status = "Checking...";

    private string serviceAction = "N/A";

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && !CLI.Initialized)
        {
            CLI.RunCommand("whoami", "");

            whoami = CLI.StandardOut;

            CLI.Initialized = true;

            RefreshServiceStatus();
        }
    }

    private void PerformServiceAction()
    {
        if (serviceAction == "Start")
        {
            CLI.RunCommand("sudo", "systemctl start nginx");
        }
        else if (serviceAction == "Stop")
        {
            CLI.RunCommand("sudo", "systemctl stop nginx");
        }

        RefreshServiceStatus();
    }

    private void RefreshServiceStatus()
    {
        CLI.RunCommand("systemctl", "status nginx");

        if (!string.IsNullOrWhiteSpace(CLI.StandardError))
        {
            if (CLI.StandardError == "Unit nginxd.service could not be found.")
            {
                status = "<Unknown>";
                serviceAction = "N/A";
            }
        }
        else if (!string.IsNullOrWhiteSpace(CLI.StandardOut))
        {
            if (CLI.StandardOut.Contains("inactive"))
            {
                status = "Not Running";
                serviceAction = "Start";
            }
            else if (CLI.StandardOut.Contains("active"))
            {
                status = "Running";
                serviceAction = "Stop";
            }
        }

        StateHasChanged();
    }
}