.no-fluff {
    padding: 0px !important;
    margin: 0px !important;
}

.button-icon {
    color: var(--icon-color);
    margin-top: 2px !important;
    margin-left: 3px !important;
    padding-bottom: 6px !important;
}

.icon-only {
    color: var(--icon-color);
    height: 25px;
    width: 35px;
}

.icon-only-small {
    color: var(--icon-color);
    height: 17px;
    width: 22px;
    font-size: 12px;
}

.grid-container {
    display: grid;
    text-align: left;
    grid-gap: 10px;
}

.grid {
    display: grid;
    white-space: nowrap;
}

.line-grid {
    display: grid;
    width: 1px;
    grid-column-gap: 5px;
    justify-items: start;
    white-space: nowrap;
}

.disable-element {
    pointer-events: none;
    opacity: 0.4;
    user-select: none;
}

table {
    color: var(--font-color) !important;
    width: 99% !important;
    table-layout: auto;
    border-collapse: collapse;
}

td {
    border: 1px solid var(--font-color);
    padding: 5px !important;
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

table .absorbing-column {
    width: 100%;
}

.page-link {
    color: var(--toprow-font-color) !important;
    background-color: var(--shadow-bg-color) !important;
}

.page-item.disabled .page-link {
    color: var(--shadow-color) !important;
}

.bg-primary {
    background-color: var(--bg-color) !important;
}