:root {
    --font-color: #647aba;
    --menu-header-font-color: #758ed7;
    --icon-color: rgb(216, 216, 216);
    --toprow-font-color: #7f9bed;
    --bg-color: #2c2c40;
    --heading-color: #161625;
    --top-banner-color: #424242;
    --shadow-color: #536390;
    --shadow-heavy-color: #818cab;
    --shadow-bg-color: #2a2a46;
    --caret-color: #9a97f3;
    --fake-link-color: #9a97f3;
    --fake-link-selected-color: rgb(195, 195, 195);
    --fake-link-selected-bg-color: #4e4bb6;
    --textbox-bg-color: #2a2a46;
    --theme-switch-color: white;
    --scrollbar-color: #647aba;
    --checkbox-bg-color: #647aba;
    --checkbox-border-color1: #748fdd;
    --checkbox-border-color2: rgba(110, 134, 204, 0.50);
    --checkbox-check-color: #647aba;
    --checkbox-gradient-color1: #647aba;
    --checkbox-gradient-color2: #5f75b2;
    --checkbox-gradient-color3: #4e4bb6;
    --sidebar-gradient-color1: rgb(35, 40, 109);
    --sidebar-gradient-color2: rgb(63, 135, 21);
    --sidebar-gradient-color3: rgb(124, 44, 3);
    --red-button-color: #a73d3d;
    --red-button-hover-color: #a73d3d;
    --red-button-active-color: #a73d3d;
    --red-button-boxshadow-color: #823232;
    --red-button-shadow-color1: #823232;
    --red-button-shadow-color2: #823232;
    --green-button-color: #37a93c;
    --green-button-hover-color: #37a93c;
    --green-button-active-color: #37a93c;
    --green-button-boxshadow-color: #2b822f;
    --green-button-shadow-color1: #2b822f;
    --green-button-shadow-color2: #2b822f;
    --blue-button-color: #42a0ba;
    --blue-button-hover-color: #42a0ba;
    --blue-button-active-color: #42a0ba;
    --blue-button-boxshadow-color: #358094;
    --blue-button-shadow-color1: #358094;
    --blue-button-shadow-color2: #358094;
    --cyan-button-color: #42a0ba;
    --cyan-button-hover-color: #42a0ba;
    --cyan-button-active-color: #42a0ba;
    --cyan-button-boxshadow-color: #358094;
    --cyan-button-shadow-color1: #358094;
    --cyan-button-shadow-color2: #358094;
}